dist: xenial
language: java
addons:
  apt:
    packages:
    - xmlstarlet
matrix:
  include:
    # 8
    - jdk: openjdk8
    # 11
    - jdk: openjdk11
      script: mvn clean verify -q -P jdk11
branches:
  only:
  - master
before_install:
- export TZ=Europe/Helsinki
- xmlstarlet ed -N x="http://maven.apache.org/POM/4.0.0" -d "//x:dependency[x:groupId[contains(text(),'com.oracle')]]" dhx-adapter-server/pom.xml > dhx-adapter-server/pom_without_oracle.xml
- mv dhx-adapter-server/pom_without_oracle.xml dhx-adapter-server/pom.xml
install: true
script: mvn clean verify -q
notifications:
  email:
    recipients:
    - rasmus.soot@nortal.com
    on_success: change
    on_failure: always