<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Documents</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h2>List of documents</h2>

<table>
    <tr>
        <th>Dokumendi id</th>
        <th>Saatja registrikood</th>
        <th>Saatja</th>
    </tr>

    <tr th:each="status : ${documentStatuses}">
        <td th:text="${status.dokumentId}">Id</td>
        <td th:text="${status.saatjaRegistrikood}">Saatja registrikood</td>
        <td th:text="${status.saatja}">Saatja</td>
    </tr>
</table>

</body>
</html>