#does capsule need validation against xsd
#dhx.capsule-validate=true
#is recipient check needed, optional presented default value
#dhx.check-recipient=true
#is check for duplicate documents needed, optional presented default value
#dhx.check-duplicate=true
#is capsule parsing needed when sending or receiving document, optional presented default value
dhx.parse-capsule=true
#location of the capsule XSD, optional presented default value
#dhx.xsd.capsule-xsd-file21=jar://Dvk_kapsel_vers_2_1_eng_est.xsd
#current version of the capsule to send and receive, optional presented default value
#dhx.xsd.current-capsule-version=V21
#name of the wsdl file in classpath, default dhx.wsdl
#dhx.wsdl-file=dhx.wsdl
#packages used for marshalling and unmarshalling
#dhx.marshall-context=ee.ria.dhx.types.ee.riik.schemas.deccontainer.vers_2_1:ee.ria.dhx.types.eu.x_road.dhx.producer:ee.ria.dhx.types.eu.x_road.xsd.identifiers:ee.ria.dhx.types.eu.x_road.xsd.representation:ee.ria.dhx.types.eu.x_road.xsd.xroad
#currently implemented DHX protocol version
#dhx.protocol-version=1.0
#list of DHX protocol versions that are accepted by this implementation
#accepted-dhx-protocol-versions=1.0
#is protocol version check of the document sender  enabled.
#check-dhx-version=true
#is address list needs to be renewed on startup
#dhx.renew-address-list-on-startup

#soap
# optional presented default value
#soap.targetnamespace=http://dhx.x-road.eu/producer
#soap.security-server-appender=/cgi-bin/consumer_proxy


soap.security-server=http://10.0.13.198
soap.xroad-instance=ee-dev
soap.member-class=GOV
soap.protocol-version=4.0
soap.member-code=40000001

#prefix to search DHX adressees
#dhx-subsystem-prefix=dhx
#if subsystem is not provided when sending document, then using this
#soap.default-subsystem=DHX
#comma esparated list of accepted subsystems, in case if server accepts documents for several subsystems at a time
soap.accepted-subsystems=DHX,DHX.subsystem

# optional presented default values
#soap.global-conf-location=verificationconf
#soap.global-conf-filename=shared-params.xml
#soap.dhx-representation-group-name=DHX vahendajad
#soap.send-document-service-code=sendDocument
#soap.representatives-service-code=representationList
#soap.send-document-service-version=v1
#soap.representatives-service-version=v1
#soap.connection-timeout=60000
#soap.read-timeout=120000

#template representing how many times and with how bug timeouts document will be resent. 
#for example 5,10,15 means that after first failed try application will wait 5 seconds and try again. 
#If second attempt fails, then there will be 10 seconds timeout before third attempt and so on
document-resend-template=5,10,15
#frequency of the address renewal. cron expression
address-renew-timeout=0 */20 * * * ?

# SSL ühenduse kasutamine
# Keystore parameetrid viitavad asutuse võtmepaari (või võtmepaare) sisaldavale võtmehoidlale
soap.client-keystore-file=dhx.jks
soap.client-keystore-password=changeit
soap.client-keystore-type=JKS

# Truststore parameetrid viitavad turvaserveri avalikku võtit sisaldavale võtmehoidlale
soap.client-truststore-file=${JAVA_HOME}/jre/lib/security/cacerts
soap.client-truststore-password=changeit
soap.client-truststore-type=JKS

